.mydiv a{
   
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border-color: black;
    border:3px solid black;
   
}

.mydiv a:hover{

    background-color: red;
    color: black;
    
}
.mydiv {
margin-top: 20px;
}